body {
  background-color: #f8f8f8;
  font-family: "Roboto Mono", monospace;
  padding-bottom: 100px;
  margin: 0;
  padding: 0;
  padding-bottom: 4rem;
}

.studentsOptions {
  margin: 0.5rem 0 3rem;
  width: 50%;
}

.options {
  display: none;

  &.open {
    display: block;
  }

  button {
    margin: 8px;
  }
}

h3 {
  margin: 8px;
}

.studentButtonsContainer button {
  margin-right: 1rem;
}

.navbar {
  background-color: #4d0e0e;
  height: 70px;
  padding: 0.5rem 1rem;

  img {
    height: 70px;
    text-align: left;
  }
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
  color: #4d0e0e;
  border-color: #4d0e0e;
}

.formHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.exitButton {
  cursor: pointer;
  text-align: right;
}

.delete {
  max-width: 290px;
}
